<header>
    <p class="brand">Backend</p>
    <a class="header__nav" href="/api/products/form">Agregar producto</a>
</header>
<h1>Listado de productos</h1>
{{#if exists}}
    <div class="catalog">
        {{#each products}}
            <div class="product">
                <img class="product__image" src="{{this.thumbnail}}" alt="Imagen no disponible">
                <p class="product__id">{{this.id}}</p>
                <p class="product__title">{{this.title}}</p>
                <p class="product__price">$ {{this.price}}</p>
            </div>
        {{/each}}       
    </div>
{{else}}
    <p>No hay productos!</p>
{{/if}}
{{> footer}}