{{> header}}

{{> nav}}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="../../public/index.js" defer></script>

<div class="main__container">
    <div class="catalog__container">
        {{#if cart.items}}
        <div class="catalog__header">
            <h2 class="products__message">Carrito de compras</h2>
        </div>
        <div class="cart__container">
            {{#each cart.items}}
            <div class="item__container">
                <div class="cart__item__image">
                    <img src="{{this.product.image}}" alt="{{this.product.name}}" />
                </div>
                <div class="cart__item__name">
                    <p>{{this.product.name}}</p>
                </div>
                <div class="cart__item__price">
                    <p>$ {{this.product.price}}</p>
                </div>
                <div class="cart__item__quantity">
                    <p>{{this.quantity}} unidades</p>
                </div>
                <button name="btnQuitar" onclick="deleteProductToCart(`{{this.product._id}}`)" class="button button--delete">
                    Quitar del carrito
                </button>
            </div>
            {{/each}}
        </div>
        <div class="cart__footer">
            <p>TOTAL: ${{cart.total}}</p>
            <button name="btnVaciar" onclick="cleanCart(`{{user._id}}`)" class="button button--delete button--cart">
                Vaciar carrito
            </button>
            <button name="btnConfirmar" onclick="getCheckout()" class="button button--detail button--cart">
                Confirmar compra
            </button>
        </div>
        {{else}}
        <div class="catalog__header">
            <h2 class="products__message">Tu carrito de compras está vacío!</h2>
        </div>
        {{/if}}
    </div>
</div>

{{> footer}}