{{> header}}
<div class="products__container welcome_box">
    <div class="login_header">
        <h2>Bienvenido {{user}}!</h2>
    </div>
    <div>
        <a class="boton_nav" href="/" id="logout">Ver chat</a>
        <a class="boton_nav" href="/api/random" id="logout">Números random</a>
        <a class="boton_nav" href="/api/productos-test" id="a-products">Ver productos</a>
        <a class="boton boton_salir" href="/logout" id="logout">Salir</a>
    </div>
</div>
<div class="products__container welcome_message">
    <div class="login_header div_info">
        <h2>Info</h2>
        {{#if info}}
        <table class="table table_info">
            <tr>
                <td class="bold_info">Argumentos de entrada</td>
                <td>{{info.arguments}}</td>
            </tr>
            <tr>
                <td class="bold_info">Sistema operativo</td>
                <td>{{info.os}}</td>
            </tr>
            <tr>
                <td class="bold_info">Versión de node.js</td>
                <td>{{info.version}}</td>
            </tr>
            <tr>
                <td class="bold_info">Memoria total reservada</td>
                <td>{{info.memory}}</td>
            </tr>
            <tr>
                <td class="bold_info">Path de ejecución</td>
                <td>{{info.path}}</td>
            </tr>
            <tr>
                <td class="bold_info">Process ID</td>
                <td>{{info.processId}}</td>
            </tr>
            <tr>
                <td class="bold_info">Carpeta del proyecto</td>
                <td>{{info.directory}}</td>
            </tr>
            <tr>
                <td class="bold_info">Número de procesadores</td>
                <td>{{info.cpusAmount}}</td>
            </tr>
            <tr>
                <td class="bold_info">Puerto número</td>
                <td>{{info.port}}</td>
            </tr>
        </table>
        {{/if}}
    </div>
</div>
{{> footer}}