{{> header}}

{{> nav}}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="../../public/index.js" defer></script>

<div class="login__container">
    <h2>Editar producto</h2>
    <form onsubmit="return updateProduct(event)">
        <label title="id">Product ID</label>
        <input type="text" name="id" id="id" value="{{product._id}}" disabled />
        <label title="name">Nombre</label>
        <input type="text" placeholder="Nombre del producto" name="name" id="name" required value="{{product.name}}" />
        <label title="description">Descripción</label>
        <input type="text" placeholder="Breve descripción del producto" name="description" id="description" required
            value="{{product.description}}" />
        <label title="code">Código</label>
        <input type="text" placeholder="Código identificador del producto" name="code" id="code" required
            value="{{product.code}}" />
        <label title="price">Imágen</label>
        <input type="text" placeholder="Imágen del producto" name="image" id="image" required
            value="{{product.image}}" />
        <label title="price">Precio</label>
        <input type="number" placeholder="Precio del producto" name="price" id="price" required
            value="{{product.price}}" />
        <label title="stock">Stock</label>
        <input type="number" placeholder="Stock actual del producto" name="stock" id="stock" required min="1"
            value="{{product.stock}}" />
        <label title="category">Categoría</label>
        <select id="category">
            <option>Equipo de fútbol</option>
            <option>Selección nacional</option>
        </select>
        <input class="button--detail" type="submit" value="Guardar cambios" />
    </form>
</div>

{{> footer}}