{{> header}}

{{> nav}}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="../../public/index.js" defer></script>

<div class="main__container product__detail">
    <h2>HISTORIAL DE ÓRDENES DE COMPRA</h2>
    <div class="orders__list__container">
        <div class="order__list__headers">
            <p class="order__header__15">NÚMERO</p>
            <p class="order__header__15">FECHA</p>
            <p class="order__header__15">TOTAL</p>
            <p class="order__header__20">DIRECCIÓN DE ENTREGA</p>
            <p class="order__header__20">MÉTODO DE PAGO</p>
            <p class="order__header__15">ESTADO</p>
        </div>
        {{#each orders}}
            <div class="order__list__items">
                <p class="order__header__15">{{this.number}}</p>
                <p class="order__header__15">{{this.timestamp}}</p>
                <p class="order__header__15">$ {{this.total}}</p>
                <p class="order__header__20">{{this.deliveryAddress}}</p>
                <p class="order__header__20">{{this.paymentMethod}}</p>
                <p class="order__header__15">{{this.status}}</p>
            </div>
        {{/each}}
    </div>
</div>

{{> footer}}